@import "tailwindcss";

@layer base {
  span{
    background-color: white;
  }
}

@layer components {
  .nav-item {
   @apply flex text-white text-center items-center text-lg font-semibold justify-center;
  }
}
